Repository deeppavlov/dream, pull requests merged in 2021-12, with the labels that each got.

#33 DFF Refactoring: short-story-skill
  common/skills_turn_on_topics_and_patterns.py
  dev.yml
  docker-compose.yml
  gpu1.yml
  pipeline_conf.json
  proxy.yml
  skill_selectors/rule_based_selector/connector.py
  skills/dff_short_story_skill/Dockerfile
  skills/dff_short_story_skill/README.md
  skills/dff_short_story_skill/common/.gitkeep
  skills/dff_short_story_skill/data/phrases.json
  skills/dff_short_story_skill/data/stories.json
  skills/dff_short_story_skill/requirements.txt
  skills/dff_short_story_skill/scenario/condition.py
  skills/dff_short_story_skill/scenario/main.py
  skills/dff_short_story_skill/scenario/response.py
  skills/dff_short_story_skill/server.py
  skills/dff_short_story_skill/test.sh
  skills/dff_short_story_skill/test_server.py
  skills/dff_short_story_skill/tests/.gitkeep
  skills/dff_short_story_skill/tests/tell_funny_story_in.json
  skills/dff_short_story_skill/tests/tell_funny_story_out.json
  state_formatters/dp_formatters.py
  test.yml
  tests/runtests.sh
Labels: refactor, COMMoN

#28 COMMoN: COMeT Refactoring
  annotators/COMeT/Dockerfile
  annotators/COMeT/NOTICE.md
  annotators/COMeT/README.md
  annotators/COMeT/comet_commonsense/__init__.py
  annotators/COMeT/comet_commonsense/config.py
  annotators/COMeT/comet_commonsense/interface.py
  annotators/COMeT/comet_commonsense/schemas.py
  annotators/COMeT/comet_commonsense/src/__init__.py
  annotators/COMeT/comet_commonsense/src/data/__init__.py
  annotators/COMeT/comet_commonsense/src/data/atomic.py
  annotators/COMeT/comet_commonsense/src/data/conceptnet.py
  annotators/COMeT/comet_commonsense/src/data/data.py
  annotators/COMeT/comet_commonsense/src/data/utils.py
  annotators/COMeT/comet_commonsense/src/evaluate/__init__.py
  annotators/COMeT/comet_commonsense/src/evaluate/sampler.py
  annotators/COMeT/comet_commonsense/src/interactive/__init__.py
  annotators/COMeT/comet_commonsense/src/interactive/functions.py
  annotators/COMeT/comet_commonsense/src/models/__init__.py
  annotators/COMeT/comet_commonsense/src/models/gpt.py
  annotators/COMeT/comet_commonsense/src/models/models.py
  annotators/COMeT/comet_commonsense/src/models/utils.py
  annotators/COMeT/comet_commonsense/utils/__init__.py
  annotators/COMeT/comet_commonsense/utils/utils.py
  annotators/COMeT/common/.gitkeep
  annotators/COMeT/functions.diff
  annotators/COMeT/requirements.txt
  annotators/COMeT/server.py
  annotators/COMeT/test.sh
  annotators/COMeT/test_atomic.py
  annotators/COMeT/test_conceptnet.py
  annotators/COMeT/test_server.py
  annotators/COMeT/tests/atomic_in.json
  annotators/COMeT/tests/atomic_out.json
  annotators/COMeT/tests/conceptnet_in.json
  annotators/COMeT/tests/conceptnet_out.json
  dev.yml
  docker-compose.yml
Labels: help wanted, refactor, COMMoN

#66 Feat/readme
  CONTRIBUTING.md
  DREAM.png
  README.md
  assistant_dists/dream/pipeline_conf.json
Labels: documentation
